[submodule "gateway"]
	path = gateway
	url = https://github.com/MSierraDev/gateway.git
[submodule "orders"]
	path = orders
	url = https://github.com/MSierraDev/orders.git
[submodule "products"]
	path = products
	url = https://github.com/MSierraDev/products.git
[submodule "auth-users"]
	path = auth-users
	url = https://github.com/MSierraDev/auth-users.git
[submodule "payments"]
	path = payments
	url = https://github.com/MSierraDev/payments
